@import './../../shared/css-global/css-global.css';

@media screen and (max-width: 576px) {
  .mat-elevation-z8 {
    max-height: 240px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .mat-elevation-z8 {
    max-height: 296px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .mat-elevation-z8 {
    max-height: 296px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

@media screen and (min-width: 1201px) {
  .mat-elevation-z8 {
    max-height: 296px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
