<div class="mcr-container">
  <div class="mt-1">
    <h4>CADASTRO DE DESPESA</h4>
  </div>

  <form #f="ngForm" class="mt-4">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xs-6">
        <h6>Descrição</h6>
        <mat-form-field class="form-component">
          <input maxlength="100" matInput name="descricao" [(ngModel)]="despesa.descricao" required autofocus>
        </mat-form-field>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xs-6 mb-4">
        <h6>Status</h6>
        <mat-slide-toggle class="toggle-activo" color="primary" name="status" [(ngModel)]="despesa.status">
          {{ despesa.status ? "Ativo" : "Inativo" }}
        </mat-slide-toggle>
      </div>
    </div>

    <div class="col-12">
      <div class="row">
        <app-button *ngIf="editing"
                    tipoBotao="btn-danger"
                    textoBotao="Cancelar"
                    (eventoBotaoOutput)="cancelar()">
        </app-button>

        <app-button *ngIf="!editing"
                    tipoBotao="btn-secondary"
                    textoBotao="Limpar"
                    (eventoBotaoOutput)="resetar()">
        </app-button>

        <app-button *ngIf="editing"
                    tipoBotao="btn-secondary"
                    textoBotao="Limpar"
                    (eventoBotaoOutput)="resetarEditando()">
        </app-button>

        <app-button *ngIf="!editing"
                    tipoBotao="btn-primary"
                    textoBotao="Salvar"
                    (eventoBotaoOutput)="criar()"
                    [validacao]="f.invalid">
        </app-button>

        <app-button *ngIf="editing"
                    tipoBotao="btn-primary"
                    textoBotao="Editar"
                    (eventoBotaoOutput)="editar()"
                    [validacao]="f.invalid">
        </app-button>
      </div>
    </div>

  </form>

  <br>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" >
      <ng-container matColumnDef="id" >
        <th mat-header-cell *matHeaderCellDef>Código</th>
        <td mat-cell *matCellDef="let row" style="width: 100px">{{ row.id }}</td>
      </ng-container>

      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef>Descrição</th>
        <td mat-cell *matCellDef="let row" style="width: 1000px">{{ row.descricao }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let row" style="width: 200px" [class.green]="row.status" [class.red]="!row.status">
          {{ row.status ? "Ativo" : "Inativo" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef>
          Editar
        </th>

        <td mat-cell *matCellDef="let row" style="width: 100px">
          <i class="pointer" (click)="atualizar(row)">
            <img src="./../../../assets/icons/editar.svg" alt="Icon" width="20px"/>
          </i>
        </td>
      </ng-container>

      <ng-container matColumnDef="excluir">
        <th mat-header-cell *matHeaderCellDef>
          Deletar
        </th>

        <td mat-cell *matCellDef="let row" style="width: 100px">
          <i class="pointer" (click)="deletarDialogo(row)">
            <img src="./../../../assets/icons/excluir.svg" alt="Icon" width="20px"/>
          </i>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [length]="paginatorLength" showFirstLastButtons></mat-paginator>
  </div>
</div>
