@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

.mcr-header {
  width: 100%;
  left: 0;
  top: 0;
  height: 60px;
  position: fixed;
  z-index: 200;
}

.mcr-container {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 90px;
  padding-bottom: 30px;
  overflow-x: hidden;
}

.mcr-footer {
  width: 100%;
  left: 0;
  bottom: 0;
  height: 24px;
  position: fixed;
  z-index: 200;
}

.green {
  color: green;
}

.red {
  color: red;
}

.btn {
  width: 80px;
}

.pointer {
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;

}
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;

}
