.loading {
  height: 400px;
  position: fixed;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

::ng-deep .lockscreen {
  position:fixed !important;
  z-index: 9998 !important;
  cursor:forbidden !important;
  width:100% !important;
  height:100% !important;
  background-color:rgba(0,0,0,0.3) !important;
  color:white !important;
  display: block !important;
}
