<footer class="mcr-footer box-shadow-top">
  <div class="bg-dark text-center text-white-50">
      © 2020 - SYSTEMMCR | Todos os direitos reservados |
      <span class="usuarioLogadoCor">
        Usuário Logado: {{ usuarioLogado }}
      </span>
  </div>
</footer>
