<div class="row">
  <div class="col-12">
    <h4>QUITAR TÍTULO</h4>
  </div>
</div>

<form #f="ngForm" class="mt-4">
    <div class="row justify-content-center">
      <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <h6>Data de Pagamento</h6>
        <mat-form-field class="form-component">
          <input matInput name="dataPagamento" [(ngModel)]="contaPagar.dataPagamento" [matDatepicker]="picker" readonly required/>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <h6>Valor de Pagamento</h6>
        <mat-form-field class="form-component">
          <input currencyMask matInput name="valor" [(ngModel)]="contaPagar.valor" required>
        </mat-form-field>
      </div>
    </div>
</form>

<div class="row">
  <div class="col-12 text-right">
    <button mat-dialog-close class="btn btn-secondary" (click)="dialogClose()">
      Fechar
    </button>
    &nbsp;
    <button [mat-dialog-close]="true" class="btn btn-primary" (click)="quitarTituloDespesa()">
      Quitar
    </button>
  </div>
</div>
