/* Tabela */
table {
  width: 100%;
}

th {
  color: black;
  font-weight: bold;
}

.mat-footer-cell {
  color: black;
  font-weight: bold;
}

/* Input */
.form-component {
  width: 100%;
  margin-top: -18px;
}

.toggle-activo {
  margin-top: 10px;
}

.space-top {
  margin-top: -20px;
}
