@import './../../shared/css-global/css-global.css';

@media screen and (max-width: 576px) {
  .mat-elevation-z8 {
    max-width: 800px;
    overflow: scroll;
  }

  table {
    width: 800px;
  }
}

@media screen and (min-width: 577px) and (max-width: 926px) {
  .mat-elevation-z8 {
    max-width: 1000px;
    overflow: scroll;
  }

  table {
    width: 1000px;
  }
}

@media screen and (min-width: 1200px) {
  .mat-elevation-z8 {
    max-height: 246px;
    overflow-y: scroll;
    overflow-x: hidden;
  } 
}
