<div class="mcr-container">
  <div class="mt-1">
    <h4>LANÇAMENTOS DE CONTAS À RECEBER</h4>
  </div>

  <form #f="ngForm" class="mt-4">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <h6>Data de Recebimento</h6>
        <mat-form-field class="form-component">
          <input matInput name="dataRecebimento" [(ngModel)]="contaReceber.dataRecebimento" [matDatepicker]="picker" readonly required/>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xs-4">
        <h6>Tipo de Receita</h6>
        <mat-form-field class="form-component">
          <mat-select name="tipoReceita" [(ngModel)]="contaReceber.tipoReceita.id" required>
            <mat-option *ngFor="let receita of receitas" (change)="filtrarReceita()" [value]="receita.id" (onSelectionChange)="atribuirReceita($event)">
              {{receita.descricao}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-2">
        <div class="form-group">
          <h6>Nº Documento</h6>
          <mat-form-field class="form-component">
            <input matInput type="number" name="numeroDocumento" [(ngModel)]="contaReceber.numeroDocumento" required>
          </mat-form-field>
        </div>
      </div>

      <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-2">
        <div class="form-group">
          <h6>Valor de Recebimento</h6>
          <mat-form-field class="form-component">
            <input currencyMask matInput name="valor" [(ngModel)]="contaReceber.valor" required>
          </mat-form-field>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="form-group">
          <h6>Observação</h6>
          <mat-form-field class="form-component">
            <input matInput name="observacao" [(ngModel)]="contaReceber.observacao">
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center space-top">
        <app-button *ngIf="editing"
                    tipoBotao="btn-danger"
                    textoBotao="Cancelar"
                    (eventoBotaoOutput)="cancelar()">
        </app-button>

        <app-button *ngIf="!editing"
                    tipoBotao="btn-secondary"
                    textoBotao="Limpar"
                    (eventoBotaoOutput)="resetar()">
        </app-button>

        <app-button *ngIf="editing"
                    tipoBotao="btn-secondary"
                    textoBotao="Limpar"
                    (eventoBotaoOutput)="resetarEditando()">
        </app-button>

        <app-button *ngIf="!editing"
                    tipoBotao="btn-primary"
                    textoBotao="Lançar"
                    (eventoBotaoOutput)="criar()"
                    [validacao]="f.invalid">
        </app-button>

        <app-button *ngIf="editing"
                    tipoBotao="btn-primary"
                    textoBotao="Editar"
                    (eventoBotaoOutput)="editar()"
                    [validacao]="f.invalid">
        </app-button>
      </div>
    </div>
  </form>

  <div class="mat-elevation-z8 mt-2">
    <table mat-table [dataSource]="dataSource" >
      <ng-container matColumnDef="dataRecebimento">
        <th mat-header-cell *matHeaderCellDef style="width: 200px">Data de Recebimento</th>
        <td mat-cell *matCellDef="let row" style="width: 200px">{{ row.dataRecebimento | date: "dd/MM/y" }}</td>
      </ng-container>

      <ng-container matColumnDef="tipoReceita">
        <th mat-header-cell *matHeaderCellDef style="width: 300px">Tipo de Receita</th>
        <td mat-cell *matCellDef="let row" style="width: 300px">{{ row.tipoReceita?.descricao }}</td>
      </ng-container>

      <ng-container matColumnDef="numeroDocumento">
        <th mat-header-cell *matHeaderCellDef style="width: 150px">Nº Documento</th>
        <td mat-cell *matCellDef="let row" style="width: 150px">{{ row.numeroDocumento }}</td>
      </ng-container>

      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef style="width: 150px">Valor</th>
        <td mat-cell *matCellDef="let row" style="width: 150px">{{ row.valor | currency :"BRL" }}</td>
      </ng-container>

      <ng-container matColumnDef="observacao">
        <th mat-header-cell *matHeaderCellDef style="width: 300px">Observação</th>
        <td mat-cell *matCellDef="let row" style="width: 300px">{{ row.observacao }}</td>
      </ng-container>

      <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef>
          Editar
        </th>

        <td mat-cell *matCellDef="let row" style="width: 100px">
          <i *ngIf="row.statusTitulo !== 'QUITADO'" class="pointer" (click)="atualizar(row)">
            <img src="./../../../assets/icons/editar.svg" alt="Icon" width="20px"/>
          </i>
        </td>
      </ng-container>

      <ng-container matColumnDef="excluir">
        <th mat-header-cell *matHeaderCellDef>
          Deletar
        </th>

        <td mat-cell *matCellDef="let row" style="width: 100px">
          <i *ngIf="row.statusTitulo !== 'QUITADO'" class="pointer" (click)="deletarDialogo(row)">
            <img src="./../../../assets/icons/excluir.svg" alt="Icon" width="20px"/>
          </i>
        </td>
      </ng-container>

      <ng-container matColumnDef="quitarTitulo">
        <th mat-header-cell *matHeaderCellDef>
          Quitar Título
        </th>

        <td mat-cell *matCellDef="let row" style="width: 100px">
          <i *ngIf="row.statusTitulo !== 'QUITADO'" class="pointer" (click)="quitarTituloReceita(row)">
            <img src="./../../../assets/icons/quitarTitulo.svg" alt="Icon" width="20px"/>
          </i>

          <i *ngIf="row.statusTitulo === 'QUITADO'" matTooltip="Título quitado">
            <img src="./../../../assets/icons/quitado.svg" alt="Icon" width="20px"/>
          </i>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [length]="paginatorLength" showFirstLastButtons></mat-paginator>
  </div>
</div>
