.container-fluid {
  width: 100%;
  height: 100vh;
  background: url('./../../assets/img/login2.jpg') no-repeat center center;
  background-size: cover;
}

.txt-color {
  color: #000000;
}

.box-login {
  background-color: white;
  opacity : 0.85;
	border: 2px solid #000000;
	border-radius: 25px;
}

input {
  border-radius: 25px;
  border: 2px solid #000000;
  width: 300px;
  position: relative;
}