<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-10 col-sm-6 col-md-4 col-lg-4 col-xs-4 mt-5 box-login">
      <h4 class="txt-color d-flex justify-content-center mt-2">SYSFINAN</h4>
      <h6 class="txt-color d-flex justify-content-center mt-2">Suas finanças em nossas mãos</h6>

      <hr style="border: 1px solid #000000;">

      <form #f="ngForm" class="mt-4">
        <div class="">
          <div class="row">
            <div class="col-12">
              <div class="form-group d-flex justify-content-center">
                <input class="form-control" placeholder="E-mail" ngModel name="usuario" maxlength="100" required #usuario autofocus autocomplete="off">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="form-group d-flex justify-content-center">
                <input type="password" class="form-control" placeholder="Senha" ngModel name="senha" required #senha autocomplete="off">
              </div>
            </div>
          </div>
        </div>

        <div class="mb-3 d-flex justify-content-center">
          <app-button tipoBotao="btn-primary"
                      textoBotao="Entrar"
                      (eventoBotaoOutput)="getLogin(usuario.value, senha.value); senha.value=''" >
          </app-button>
        </div>
      </form>
    </div>
  </div>
</div>
