<header class="navbar navbar-expand-md navbar-light bg-dark fixed-top py-3">
  <a [routerLink]="['/home']">
    <img class="eyeball mr-2" src="./../../assets/img/angular.svg" alt="Logo" width="40px">
  </a>

  <h3 class="text-white mt-2">Sysfinan</h3>

  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse bg-dark" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto bg-dark">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white"
           role="button"
           id="navbarDropdown"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false"
           href="#">
           Cadastros
        </a>

        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-white"
               [routerLink]="['/cadastro/receita']">
               Receitas
            </a>

            <a class="dropdown-item text-white"
               [routerLink]="['/cadastro/despesa']">
               Despesas
            </a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white"
           role="button"
           id="navbarDropdown"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false"
           href="#">
           Lançamentos
        </a>

        <div class="dropdown-menu bg-dark text-white" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-white"
               [routerLink]="['/lancamento/conta-receber']">
               Contas à Receber
            </a>

            <a class="dropdown-item bg-dark text-white"
               [routerLink]="['/lancamento/conta-pagar']">
               Contas à Pagar
            </a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white"
           role="button"
           id="navbarDropdown"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false"
           href="#">
           Resultado
        </a>

        <div class="dropdown-menu bg-dark text-white" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-white"
               [routerLink]="['/resultado/resultado-conta-receber']">
               Contas à Receber
            </a>

            <a class="dropdown-item text-white"
               [routerLink]="['/resultado/resultado-conta-pagar']">
               Contas à Pagar
            </a>

            <a class="dropdown-item text-white"
               [routerLink]="['/resultado/resultado-final']">
               Resultado Final
            </a>
        </div>
      </li>

      <li class="nav-item dropdown" *ngIf="usuarioLogado === 'Administrador'">
          <a class="nav-link dropdown-toggle text-white"
             role="button"
             id="navbarDropdown"
             data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false"
             href="#">
             Configuração
          </a>

          <div class="dropdown-menu bg-dark text-white" aria-labelledby="navbarDropdown">
              <a class="dropdown-item text-white"
                 [routerLink]="['/configuracao/usuario']">
                 Usuário
              </a>

              <a class="dropdown-item text-white"
                 [routerLink]="['/configuracao/acesso']">
                 Acesso
              </a>
            </div>
        </li>

      <li class="nav-item">
        <a class="nav-link text-white"
           href="javascript:;"
           (click)="logout()">
           Logout
        </a>
      </li>
    </ul>
  </div>
</header>
