<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body style="font-family: Arial; font-size: 14px;">

<p>Olá!</p>

<p>Existem receitas em aberto vencidas ou para hoje. Veja:</p>

<div>
    <table style="width: 100%; border-collapse: collapse;  margin: 20px 0">
        <thead>
            <tr>
                <th>N° Documento</th>
                <th>Tipo de Receita</th>
                <th>Data de Recebimento</th>
                <th>Valor</th>
                <th>Status</th>
            </tr>
        </thead>
        
        <tbody>
            <tr style="border-bottom: 1px solid #ccc; border-top: 1px solid #ccc;" th:each="contaReceber: ${contasReceber}" 
                th:styleappend="${contaReceber.status} ? 'color: red;' : 'color: black;'">
                <td th:text="${contaReceber.numeroDocumento}" style="text-align: center"></td>
                <td th:text="${contaReceber.tipoReceita.descricao}" style="text-align: center"></td>
                <td th:text="${#temporals.format(contaReceber.dataRecebimento, 'dd/MM/yyyy')}" style="text-align: center"></td>
                <td th:text="${#numbers.formatDecimal(contaReceber.valor, 0, 'POINT', 2, 'COMMA')}" style="text-align: right"></td>
                <td th:text="${contaReceber.statusTitulo}" style="text-align: right"></td>
            </tr>
        </tbody>
    </table>
</div>

<p>Obrigado.</p>
<p>Equipe Sysfinan!</p>

</body>
</html>