<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body style="font-family: Arial; font-size: 14px;">

<p>Olá!</p>

<p>Existem despesas vencidas ou vencendo hoje. Veja:</p>

<div>
    <table style="width: 100%; border-collapse: collapse;  margin: 20px 0">
        <thead>
            <tr>
                <th>N° Documento</th>
                <th>Tipo de Despesa</th>
                <th>Data de Pagamento</th>
                <th>Valor</th>
                <th>Status</th>
            </tr>
        </thead>
        
        <tbody>
            <tr style="border-bottom: 1px solid #ccc; border-top: 1px solid #ccc;" th:each="contaPagar: ${contasPagar}" 
                th:styleappend="${contaPagar.status} ? 'color: red;' : 'color: black;'">
                <td th:text="${contaPagar.numeroDocumento}" style="text-align: center"></td>
                <td th:text="${contaPagar.tipoDespesa.descricao}" style="text-align: center"></td>
                <td th:text="${#temporals.format(contaPagar.dataPagamento, 'dd/MM/yyyy')}" style="text-align: center"></td>
                <td th:text="${#numbers.formatDecimal(contaPagar.valor, 0, 'POINT', 2, 'COMMA')}" style="text-align: right"></td>
                <td th:text="${contaPagar.statusTitulo}" style="text-align: right"></td>
            </tr>
        </tbody>
    </table>
</div>

<p>Obrigado.</p>
<p>Equipe Sysfinan!</p>

</body>
</html>