<div class="mcr-container">
  <div class="row">
    <div class="col-12 text-center">
      <h4>DASHBOARD</h4>
    </div>
  </div>

  <div class="mb-5"></div>

  <div class="row">
    <div class="col-xl-6 col-md-6 col-sm-6 mb-3">
      <div class="card text-white bg-primary o-hidden h-100">
        <div class="card-body">
          <div class="mr-5">Resultado do Mês - Receita</div>
          <div class="mr-5">{{ totalContaReceber | currency :"BRL" }}</div>
        </div>
        <a class="card-footer text-white clearfix small z-1" [routerLink]="['/resultado/resultado-conta-receber']">
          <span class="float-left">Ver Resultados</span>
        </a>
      </div>
    </div>

    <div class="col-xl-6 col-md-6 col-sm-6 mb-3">
      <div class="card text-white bg-warning o-hidden h-100">
        <div class="card-body">
          <div class="mr-5">Resultado do Mês - Despesa</div>
          <div class="mr-5">{{ totalContaPagar | currency :"BRL"}}</div>
        </div>
        <a class="card-footer text-white clearfix small z-1" [routerLink]="['/resultado/resultado-conta-pagar']">
          <span class="float-left">Ver Resultados</span>
        </a>
      </div>
    </div>

    <div class="col-xl-6 col-md-6 col-sm-6 mb-3">
      <div class="card text-white bg-danger o-hidden h-100">
        <div class="card-body">
          <div class="mr-5">Resultado do Mês - Total</div>
          <div class="mr-5">{{ totalFinal | currency :"BRL"}}</div>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-md-6 col-sm-6 mb-3">
      <div class="card text-white bg-success o-hidden h-100">
        <div class="card-body">
          <div class="mr-5">Falta à Pagar - Todo Período</div>
          <div class="mr-5">{{ todoPeriodoContaPagar | currency :"BRL" }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
