<div class="dialog mb-3" title="Alterar Senha">
    <div dialog-body>
      <div class="text-center" mat-dialog-content>
        <h5 class="font">{{ mensagem }}</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">
        <h6>Nova Senha</h6>
        <mat-form-field class="form-component">
          <input type="password" maxlength="150" matInput name="senha" [(ngModel)]="usuario.senha" 
                 required autofocus>
        </mat-form-field>
      </div>
    </div>

    <div dialog-footer>
      <div mat-dialog-actions class="d-flex justify-content-center" >
        <button mat-button [mat-dialog-close]="false" class="btn btn-secondary">Não</button>
        <button mat-button [mat-dialog-close]="true" class="btn btn-primary" cdkFocusInitial>Alterar</button>
      </div>
    </div>
  </div>
