<div class="dialog mb-3" title="Eliminar">
  <div dialog-body>
    <div class="text-center" mat-dialog-content>
      <h5 class="font">{{ mensagem }}</h5>
    </div>
  </div>
  <div dialog-footer>
    <div mat-dialog-actions class="d-flex justify-content-center" >
      <button mat-button [mat-dialog-close]="false" class="btn btn-secondary">Não</button>
      <button mat-button [mat-dialog-close]="true" class="btn btn-primary" cdkFocusInitial>Sim</button>
    </div>
  </div>
</div>
