<div class="mcr-container">
  <div class="mt-1">
    <h4>CADASTRO DE ACESSO</h4>
  </div>

  <form #f="ngForm" class="mt-4">
    <div class="row">
      <div class="col-md-2 col-lg-2 col-xs-2"></div>

      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xs-4">
        <h6>Usuário</h6>
        <mat-form-field class="form-component">
          <mat-select name="usuario" [(ngModel)]="acesso.nome" required>
            <mat-option *ngFor="let usuario of usuarios" (change)="filtrarUsuarios()" [value]="usuario.id" (onSelectionChange)="atribuirUsuario($event)">
              {{usuario.nome}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xs-4">
        <h6>Permissão</h6>
        <mat-form-field class="form-component">
            <mat-select name="permissao" [(ngModel)]="acesso.descricao" required>
            <mat-option *ngFor="let permissao of permissoes" (change)="filtrarPermissoes()" [value]="permissao.id" (onSelectionChange)="atribuirPermissao($event)">
                {{permissao.descricao}}
            </mat-option>
            </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-2 col-lg-2 col-xs-2"></div>
    </div>

    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <div class="row">
          <app-button *ngIf="!editing"
                      tipoBotao="btn-secondary"
                      textoBotao="Limpar"
                      (eventoBotaoOutput)="resetar()">
          </app-button>

          <app-button *ngIf="!editing"
                      tipoBotao="btn-primary"
                      textoBotao="Salvar"
                      (eventoBotaoOutput)="salvarPermissaoUsuario()"
                      [validacao]="f.invalid">
          </app-button>
        </div>
      </div>
    </div>
  </form>

  <br>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" >
      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef>Usuário</th>
        <td mat-cell *matCellDef="let row" style="width: 2000px">{{ row.nome }}</td>
      </ng-container>

      <ng-container matColumnDef="permissao">
        <th mat-header-cell *matHeaderCellDef>Permissão</th>
        <td mat-cell *matCellDef="let row" style="width: 2000px">{{ row.descricao }}</td>
      </ng-container>

      <ng-container matColumnDef="excluir">
        <th mat-header-cell *matHeaderCellDef>
          Deletar
        </th>

        <td mat-cell *matCellDef="let row" style="width: 100px">
          <i *ngIf="row.nome !== 'Administrador'" class="pointer" (click)="deletarDialogo(row)">
            <img src="./../../../assets/icons/excluir.svg" alt="Icon" width="20px"/>
          </i>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [length]="paginatorLength" showFirstLastButtons></mat-paginator>
  </div>
</div>
