<div class="mcr-container">
  <div class="mt-1">
    <h4>RESULTADO CONTAS À RECEBER</h4>
  </div>

  <form #f="ngForm" class="mt-4">
    <div class="row">
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 offset-md-2 offset-lg-2 offset-xl-2">
        <h6>Data Inicial</h6>
        <mat-form-field class="form-component">
          <input matInput name="dataInicial" [(ngModel)]="dataInicial" [matDatepicker]="pickerInicial"
                (ngModelChange)="checarDataFinal()" readonly required/>
          <mat-datepicker-toggle matSuffix [for]="pickerInicial"></mat-datepicker-toggle>
          <mat-datepicker #pickerInicial></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
        <h6>Data Final</h6>
        <mat-form-field class="form-component">
          <input matInput name="dataFinal" [(ngModel)]="dataFinal" [matDatepicker]="pickerFinal"
                (ngModelChange)="checarDataFinal()" readonly required/>
          <mat-datepicker-toggle matSuffix [for]="pickerFinal"></mat-datepicker-toggle>
          <mat-datepicker #pickerFinal></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
        <app-button tipoBotao="btn-primary"
                    textoBotao="Filtrar"
                    (eventoBotaoOutput)="filtrarDatas()"
                    [validacao]="f.invalid">
        </app-button>

        <app-button tipoBotao="btn-secondary"
                    textoBotao="Limpar"
                    (eventoBotaoOutput)="resetar()">
        </app-button>
      </div>
    </div>
  </form>

  <div class="mat-elevation-z8 mt-3">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="dataRecebimento">
        <th mat-header-cell *matHeaderCellDef style="width: 200px">Data de Recebimento</th>
        <td mat-cell *matCellDef="let row" style="width: 200px">{{ row.dataRecebimento | date: "dd/MM/y" }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="tipoReceita">
        <th mat-header-cell *matHeaderCellDef style="width: 200px">Tipo de Receita</th>
        <td mat-cell *matCellDef="let row" style="width: 300px">{{ row.tipoReceita?.descricao }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="numeroDocumento">
        <th mat-header-cell *matHeaderCellDef style="width: 150px">Nº Documento</th>
        <td mat-cell *matCellDef="let row" style="width: 150px">{{ row.numeroDocumento }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="observacao">
        <th mat-header-cell *matHeaderCellDef style="width: 300px">Observação</th>
        <td mat-cell *matCellDef="let row" style="width: 300px">{{ row.observacao }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="statusTitulo">
        <th mat-header-cell *matHeaderCellDef style="width: 100px">Status</th>
        <td mat-cell *matCellDef="let row" style="width: 100px">
          <i *ngIf="row.statusTitulo !== 'QUITADO'" matTooltip="Título em aberto">
            <img src="./../../../assets/icons/aberto.svg" alt="Icon" width="20px"/>
          </i>

          <i *ngIf="row.statusTitulo === 'QUITADO'" matTooltip="Título quitado">
            <img src="./../../../assets/icons/quitado.svg" alt="Icon" width="20px"/>
          </i>
        </td>
        <td mat-footer-cell *matFooterCellDef>Total</td>
      </ng-container>

      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef style="width: 150px">Valor</th>
        <td mat-cell *matCellDef="let row" style="width: 150px">{{ row.valor | currency :"BRL" }}</td>
        <td mat-footer-cell *matFooterCellDef> {{ totalContaReceber | currency: "BRL" }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
    <mat-paginator [length]="paginatorLength" showFirstLastButtons></mat-paginator>
  </div>
</div>
