@import './../../shared/css-global/css-global.css';

.form-component {
  width: 70%;
  margin-top: -18px;
}

@media screen and (max-width: 991px) {
  .form-component {
    width: 100%;
    margin-top: -18px;
  }
}

.mat-elevation-z8 {
  max-height: 349px;
  overflow-y: scroll;
  overflow-x: hidden;
} 
