<div class="mcr-container">
    <div class="mt-1">
      <h4>CADASTRO DE USUÁRIO</h4>
    </div>

    <form #f="ngForm" class="mt-4">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xs-5 mb-2">
          <h6>Nome</h6>
          <mat-form-field class="form-component">
            <input maxlength="50" matInput name="nome" [(ngModel)]="usuario.nome" required autofocus>
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xs-4">
          <h6>E-mail</h6>
          <mat-form-field class="form-component">
            <input maxlength="100" matInput name="email" [(ngModel)]="usuario.email" required>
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xs-3" *ngIf="!editing">
          <h6>Senha</h6>
          <mat-form-field class="form-component">
            <input type="password" maxlength="150" matInput name="senha" [(ngModel)]="usuario.senha" required>
          </mat-form-field>
        </div>
      </div>

      <div class="col-12">
        <div class="row">
          <app-button *ngIf="editing"
                      tipoBotao="btn-danger"
                      textoBotao="Cancelar"
                      (eventoBotaoOutput)="cancelar()">
          </app-button>

          <app-button *ngIf="!editing"
                      tipoBotao="btn-secondary"
                      textoBotao="Limpar"
                      (eventoBotaoOutput)="resetar()">
          </app-button>

          <app-button *ngIf="editing"
                      tipoBotao="btn-secondary"
                      textoBotao="Limpar"
                      (eventoBotaoOutput)="resetarEditando()">
          </app-button>

          <app-button *ngIf="!editing"
                      tipoBotao="btn-primary"
                      textoBotao="Salvar"
                      (eventoBotaoOutput)="criar()"
                      [validacao]="f.invalid">
          </app-button>

          <app-button *ngIf="editing"
                      tipoBotao="btn-primary"
                      textoBotao="Editar"
                      (eventoBotaoOutput)="editar()"
                      [validacao]="f.invalid">
          </app-button>
        </div>
      </div>

    </form>

    <br>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" >
        <ng-container matColumnDef="nome" >
          <th mat-header-cell *matHeaderCellDef>Nome</th>
          <td mat-cell *matCellDef="let row" style="width: 1000px">{{ row.nome }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>E-mail</th>
          <td mat-cell *matCellDef="let row" style="width: 1000px">{{ row.email }}</td>
        </ng-container>

        <ng-container matColumnDef="senha">
          <th mat-header-cell *matHeaderCellDef>
            Senha
          </th>

          <td mat-cell *matCellDef="let row" style="width: 100px">
            <i class="pointer" (click)="senhaDialogo(row)">
              <img src="./../../../assets/icons/senha.svg" alt="Icon" width="20px" matTooltip="Alterar Senha"/>
            </i>
          </td>
        </ng-container>

        <ng-container matColumnDef="editar">
          <th mat-header-cell *matHeaderCellDef>
            Editar
          </th>

          <td mat-cell *matCellDef="let row" style="width: 100px">
            <i class="pointer" (click)="atualizar(row)">
              <img src="./../../../assets/icons/editar.svg" alt="Icon" width="20px"/>
            </i>
          </td>
        </ng-container>

        <ng-container matColumnDef="excluir">
          <th mat-header-cell *matHeaderCellDef>
            Deletar
          </th>

          <td mat-cell *matCellDef="let row" style="width: 100px">
            <i class="pointer" (click)="deletarDialogo(row)">
              <img src="./../../../assets/icons/excluir.svg" alt="Icon" width="20px"/>
            </i>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [length]="paginatorLength" showFirstLastButtons></mat-paginator>
    </div>
  </div>
